# Module 1 - Introduction Python Fundamentals

# Introduction


- Today we dive into Python.

## Activation

<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" alt="drawing" height = "500" width="500"/>


- Python remains the most popular language for Data Science.
- https://stackoverflow.blog/2017/09/06/incredible-growth-python/

### Python Documentation
- https://docs.python.org/3/

- __Python differs from most other programming languages because it uses whitespace and indentation to determine code structure.__

- __Python is case sensitive.__

The Python language provides commands to obtain documentation about objects.

In [ ]:
# We can ask for help about an object by calling help.
# Display's type documentation.
help(list)

In [ ]:
help()

In [ ]:
# We can also view a list of object attributes using dir.
dir(list)

In [ ]:
# Anything following a # symbol is ignored and treated as a comment.
print('Except # when it is used in a string like here, more on strings later.')

In [ ]:
# Print statement
print('Hello, World!')

<img src="https://www.python-course.eu/images/string_indices.gif" alt="drawing" height = "500" width="500"/>

- __Python is zero indexed.__

## 2. Data Types in Python

### String

- A string is a sequence of characters enclosed in a series of single or double quotes.
- A string is an __immutable__ object meaning its individual characters cannot be modified with an assignment statement and it has a fixed length.

In [ ]:
# Immutable object 
s = 'Hello!'
s[0] = 'p'

In [ ]:
# Strings can be delimited by single (' ') quotes.
string_1 = 'Press shift and enter to run the cell.'
print (string_1)

In [ ]:
# Strings can also be delimited double (" ") quotes.
string_2 = "This string will be added to the first string."
print(string_2)

In [ ]:
# Strings can also be delimited by triple (''' ''') quotes.
string_3= '''Example using triple quotes'''
print(string_3)

In [ ]:
# Strings can also be delimited by triple double (""" """) quotes.
string_4= """ Here's an example making use of "python"'s different quotes"""
print(string_4)

In [ ]:
# String can contain tab (\t) and newline (\n) characters.
string_5='\tHello, \nWorld!'
print(string_5)

In [ ]:
# Strings are concatenated with the plus (+) operator.  
print(string_1 + ' ' + string_2)

In [ ]:
# Anyting put in quotes is a string
print('200')
print('+++++>>>>@@@@)))))')

#### Slicing strings

- Slicing (:) is used to extract a portion of the string.
- Python index starts at 0

<img src="https://www.python-course.eu/images/string_indices.gif" alt="drawing" height = "500" width="500"/>

In [2]:
string='Python'

- With slicing, we obtain a slice `[m:n]` where `m` is the inclusive starting point and `n` is the exclusive ending point.
- Slicing `[ :n]` starts at the beginning of the string and goes up to but not including `n`.
- Slicing `[m: ]` starts at index `m` and goes to the end of the string.

In [2]:
# slice from index 1 to 3.
string[1:4]

'yth'

In [3]:
# slice from index beginning to 3.
string[:4]

'Pyth'

In [4]:
# slice from index 2 to end
string[2:]

'thon'

<img src="https://www.python-course.eu/images/string_indices_negative.png" alt="drawing" height = "500" width="500"/>

- Indexing can also start from the end of a string.

In [5]:
# Slicing last two letters
string[-2:]

'on'

In [6]:
# obtain last letter in string
string[-1:]

'n'

In [3]:
# Slicing middle letters.
string[-5:-1]

''

In [10]:
# We can also use backward and forward slicing together.
string[-1:]

'n'

#### String Methods

In [11]:
# Setting all letters in string to uppercase
string.upper()

'PYTHON'

In [ ]:
# Setting all letters to uppercase acting directly on string
'python'.upper()

In [12]:
# Setting all letters in string to lowercase
string.lower()

'python'

In [13]:
# Setting all letters to lowercase acting directly on string
'PyTHoN'.lower()

'python'

In [14]:
# Do something similar to your name
'HoWard_Smith'.lower()

'howard_smith'

### String Methods
https://docs.python.org/3/library/stdtypes.html#string-methods

### Tuples
- A sequence of arbitrary objects separated by commas and enclosed in parentheses.
- Tuples support the same operations as strings
- Like strings tuples are __immutable.__

In [19]:
# If the tuple contains a single object, a final comma is required.
(2,)

(2,)

In [21]:
# Example of tuple
tuple_1 = ('Smith','Howard')
print(tuple_1)

('Smith', 'Howard')

In [22]:
# Nested tuple
tuple_2 = ('Smith','Howard',(6,24,2019))
print(tuple_2)

('Smith', 'Howard', (6, 24, 2019))

In [24]:
# Here we select the first object in the tuple
tuple_2[0]

'Smith'

In [25]:
# Select an object from the nested tuple. 
# tuple[index][index]...[index]
tuple_2[2][1]

24

In [26]:
# Slicing a tuple
tuple_2[1:]

('Howard', (6, 24, 2019))

In [27]:
# More interesting tuple unpacking
flatiron = ('Smith','Howard',(6,24,19))    # This is a tuple
Last_Name,First_Name,start_date = flatiron # Unpacking the tuple

In [31]:
a,b,c=start_date
print(a)

6

In [ ]:
# Another way to do tuple unpacking 
one, two, three, four = 1, 2, 3, 4

In [ ]:
#Unpacked Variables
print(Last_Name, First_Name)

### Numeric Types

In [32]:
# number types are integers, floats, complex numbers, and Booleans
print('Example of Integer', 5)
print('Example of Float', 5.89)
print('Example of Complex', 21 + 3.57j)
print('Example of Boolean', 5 > 7)

Example of Integer 5
Example of Float 5.89
Example of Complex (21+3.57j)
Example of Boolean False

- Python is a dynamically typed language, meaning that variables do not have a type and therefore do not have to be declared. 

- Variables may also change the type of value they hold through their lives. 

- Values, on the other hand, do have a type.

In [38]:
# Assign a value to a variable
x = 21
print(x)

21

In [39]:
#You can query what type is the variable.
type(x)

int

In [40]:
# We can perform the usual operations +,-,*,/.
print("Using the division operator / returns a float", x/7)
print ('We can also multiple values', 5*6)

Using the division operator / returns a float 3.0
We can also multiple values 30

In [43]:
# We can use tuple unpacking as a convenient way to swap values between variables.
x = 10
y=100

x,y=y,x

print('x is now equal to', x)
print('y is now equal to', y)

x is now equal to 100
y is now equal to 10

### List
- An ordered collection of objects.
- Lists in Python are mutable.

In [44]:
# Empty list
[]

[]

In [45]:
# List with one element.
# Elemements can be of any type.
print('List with number value', [6])
print('List with number string', ['6'])

List with number value [6]
List with number string ['6']

In [66]:
# More complicated list using a mixture of different types and a nested list.
example= ['1',2, (34,5,6,7), [8,9,10], 'Python']

#### Useful list methods

In [67]:
# Append Value to the end of a list
example.append("added to the list")

In [68]:
print(example)

['1', 2, (34, 5, 6, 7), [8, 9, 10], 'Python', 'added to the list']

In [69]:
# Remove value from index listed in pop.
l=example.pop(2)

In [70]:
l

(34, 5, 6, 7)

In [71]:
print(example)

['1', 2, [8, 9, 10], 'Python', 'added to the list']

In [72]:
# Insert value in selected index.
example.insert(2,'Hello')

In [73]:
print(example)

['1', 2, 'Hello', [8, 9, 10], 'Python', 'added to the list']

In [74]:
example.reverse()

In [75]:
print(example)

['added to the list', 'Python', [8, 9, 10], 'Hello', 2, '1']

####  Indexing and slicing lists

In [76]:
# As previously mentioned Python index starts at 0.
list_1=['p','y','t','h','o','n']

<img src="https://www.python-course.eu/images/string_indices.gif" alt="drawing" height = "500" width="500"/>

In [77]:
# Let's pull the first element ie the value indexed at 0 from the list.
list_1[0]

'p'

In [78]:
## Let's pull the fifth element ie the value indexed at 4 from the list.
list_1[4]

'o'

<img src="https://www.python-course.eu/images/string_indices_negative.png" alt="drawing" height = "500" width="500"/>

- Indexing can also start from the end of list.

In [ ]:
# Let's pull the first element ie the value indexed at 0 from the list.
list_1[-6]

In [ ]:
# Let's pull the fifth element ie the value indexed at 4 from the list.
list_1[-2]

In [80]:
# Now it's your turn. 
# From the example below using both forward and backward 
#indexing to select [8,9,10].
example= ['1',2, (34,5,6,7), [8,9,10], 'Python']

In [81]:
# We can also select values from the nested elements.
# For example the 'h' in python
example[4][3]

'h'

In [83]:
# Stretch
example=[5,6,7,['hello',[8,12,154]]]

In [84]:
# Print the value 12.
example[3][1][1]

12

- List can also be sliced.
    - With list slicing, we obtain a slice `[m:n]` where m is the inclusive starting point and n is the exclusive ending point.
- Slicing `[ :n]` starts at the beginning of the list and goes up to but not including n.
- Slicing `[m: ]` goes to a listâ€™s end.
- We can also use backward and forward slicing together.

In [ ]:
# Let's trying slicing on our list.
list_1=['p','y','t','h','o','n']

In [ ]:
# Let's slice the first three elements.
list_1[0:3]

In [ ]:
# Slice from the third element to the end of the list
list_1[2:]

In [ ]:
# Select the last element of the list 
list_1[5:99]

In [ ]:
# Slice from beginning to the third element of the list.
list_1[:3]

In [ ]:
# Using backward slicing to select the last three letters of the last.
list_1[-3:]

In [ ]:
# Using backward slicing to select the letters 'h', 'o'
list_1[-3:-1]

In [ ]:
# Use backwards and forward slicing. 
list_1[-5:4]

- Tuples can be easily converted to lists with the list function. 
- Lists can be converted to tuples with the tuple function.

In [85]:
list((1, 2, 3, 4))

[1, 2, 3, 4]

In [86]:
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

- list is a convenient way to break a string into characters:

In [87]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

### Dictionaries

- Dictionaries access values by means of integers, strings, or other Python objects called keys, which indicate where in the dictionary a given value is found.
- Dictionaries in Python are __mutable.__
- No ordering in dictionaries. Therefore cannot be sliced.

In [ ]:
# Temperature for four cities.
# If list were larger we would 
# have to remember index of each city to select corresponding temperature.
temps_value=[70,83, 92,67]

In [88]:
# Creating a dictionary to solve this problem.
# Note keys are unique.
temps_1={'New York': 70, 'Atlanta': 83, 'Miami':92,'Chicago':67}
#or 
temps_2=dict(New_York = 70, Atlanta = 83, Miami = 92, Chicago =67)

In [89]:
# Accessing temperature from a specific city.
# Access key values using brackets
temps_1['New York']

70

In [91]:
# Adding a new key-value
temps_1['LA']=88

In [92]:
temps_1

{'New York': 70, 'Atlanta': 83, 'Miami': 92, 'Chicago': 67, 'LA': 88}

In [ ]:
# Updated Dictionary 
temps_1

In [93]:
# We can check if a key is in the dictionary
'Boston' in temps_1

False

In [94]:
# Extracting keys
temps_1.keys()

dict_keys(['New York', 'Atlanta', 'Miami', 'Chicago', 'LA'])

In [95]:
# Extracting values
temps_1.values()

dict_values([70, 83, 92, 67, 88])

## Assessment & Reflection

- One thing you did not know before?
- Two things you want to remember?
- One thing you're still confused by?