## Loops & Dictionaries (10 minutes)
Create a nested dictionary of recipes, with keys at the top level and dictionaries as their associated values.

1. Create an empty dictionary named `recipes`.
1. Add three dishes as the **keys** of your dictionary (e.g. 'meat pie')
1. For each key, the **value** should be another dictionary consisting of `ingredient: amount` pairs. (eg `'sugar': 'two cups'`) Each dish should have three ingredients.
1. Write a function to process the recipe dictionary. This function should loop through the recipes and return a single list of all ingredients for all recipes.

In [5]:
recipes = {}
recipes = {'Chicken': {'broth': 'two cups', 'rice': 'three cups', 'broccoli': 'four cups'}, 
           'Beef': {'stock': 'two cups', 'rice': 'two cups', 'green beans': 'four cups'}, 
           'Fish': {'garlic': '2 tsp', 'rice': 'two cups', 'butter': '2 TBLSP'}}

def all_ingredients(x):
    ingredients = []
    for k, v in x.items():
        for i in v:
            ingredients.append(i)
    return ingredients

all_ingredients(recipes)

['broth',
 'rice',
 'broccoli',
 'stock',
 'rice',
 'green beans',
 'garlic',
 'rice',
 'butter']

## Coding Readibility (5 Minutes)
Rewrite the code below in using best practices:
```python
def blabla():
for i in range ( 10 ):for j in range( 10 ):for k in range(10): print( i,j,k ) return everything
```

In [2]:
def blabla():
    for i in range(10):
        for j in range(10):
            for k in range(10):
                print (i, j, k)

## Data cleaning (15 Minutes)
read data from http://rattle.togaware.com/weatherAUS.csv
1. Add a `day`, `month`, and `year` column (three new columns)
1. Print out the name of the columns where there are missing values
1. Drop all columns except `day`, `month`, `year`, `Rainfall`, and `Sunshine`
1. Fill all missing `Rainfall` values as follows:
  1. If `Sunshine` is over 7.0, set `Rainfall` = 0
  2. Else (including if `Sunshine is NaN`) set `Rainfall` to the mean `Rainfall` value.

In [77]:
import pandas as pd
import numpy as np
df = pd.read_csv('http://rattle.togaware.com/weatherAUS.csv')

In [78]:
df['day'] = None
df['month'] = None
df['year'] = None

In [79]:
# list(df.columns[df.isna().any()])

empty = []
for column in df:
    if df[column].isnull().any():
        empty.append(column)
empty

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustDir',
 'WindGustSpeed',
 'WindDir9am',
 'WindDir3pm',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday',
 'RISK_MM',
 'RainTomorrow',
 'day',
 'month',
 'year']

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157344 entries, 0 to 157343
Data columns (total 27 columns):
Date             157344 non-null object
Location         157344 non-null object
MinTemp          155543 non-null float64
MaxTemp          155751 non-null float64
Rainfall         153737 non-null float64
Evaporation      84613 non-null float64
Sunshine         77779 non-null float64
WindGustDir      145694 non-null object
WindGustSpeed    145758 non-null float64
WindDir9am       145556 non-null object
WindDir3pm       151978 non-null object
WindSpeed9am     154950 non-null float64
WindSpeed3pm     153161 non-null float64
Humidity9am      154470 non-null float64
Humidity3pm      152088 non-null float64
Pressure9am      140480 non-null float64
Pressure3pm      140482 non-null float64
Cloud9am         94304 non-null float64
Cloud3pm         90188 non-null float64
Temp9am          155373 non-null float64
Temp3pm          153006 non-null float64
RainToday        153737 non-null object
RISK_MM          153738 non-null float64
RainTomorrow     153738 non-null object
day              0 non-null object
month            0 non-null object
year             0 non-null object
dtypes: float64(17), object(10)
memory usage: 32.4+ MB

In [81]:
# day, month, year, Rainfall, and Sunshine
columns = ['day', 'month', 'year', 'Rainfall', 'Sunshine']
df = df[columns]
df.head()
avg_rain = np.mean(df['Rainfall'])

In [82]:
df.loc[df['Sunshine'] > 7, 'Rainfall'] = 0
df.loc[df['Sunshine'] < 7, 'Rainfall'] = avg_rain
df.loc[df['Sunshine'].isnull(), 'Rainfall'] = avg_rain

In [83]:
df.head()

    day month  year  Rainfall  Sunshine
0  None  None  None  2.281795       NaN
1  None  None  None  2.281795       NaN
2  None  None  None  2.281795       NaN
3  None  None  None  2.281795       NaN
4  None  None  None  2.281795       NaN

In [70]:
df.loc[df['Sunshine'] < 7]

         day month  year  Rainfall  Sunshine
6526    None  None  None  2.281795       0.0
6538    None  None  None  2.281795       6.9
6540    None  None  None  2.281795       3.7
6541    None  None  None  2.281795       5.9
6563    None  None  None  2.281795       2.3
6564    None  None  None  2.281795       0.0
6565    None  None  None  2.281795       6.6
6566    None  None  None  2.281795       0.0
6567    None  None  None  2.281795       0.3
6580    None  None  None  2.281795       3.0
6588    None  None  None  2.281795       4.8
6590    None  None  None  2.281795       5.8
6591    None  None  None  2.281795       6.0
6604    None  None  None  2.281795       6.6
6618    None  None  None  2.281795       5.5
6619    None  None  None  2.281795       0.0
6620    None  None  None  2.281795       4.7
6621    None  None  None  2.281795       4.2
6622    None  None  None  2.281795       4.4
6623    None  None  None  2.281795       6.2
6633    None  None  None  2.281795       4.3
6656    None  None  None  2.281795       6.9
6658    None  None  None  2.281795       0.0
6659    None  None  None  2.281795       0.0
6664    None  None  None  2.281795       6.3
6665    None  None  None  2.281795       2.8
6666    None  None  None  2.281795       0.7
6670    None  None  None  2.281795       0.6
6671    None  None  None  2.281795       0.0
6672    None  None  None  2.281795       0.0
...      ...   ...   ...       ...       ...
153619  None  None  None  2.281795       3.7
153623  None  None  None  2.281795       6.1
153625  None  None  None  2.281795       5.5
153626  None  None  None  2.281795       6.6
153627  None  None  None  2.281795       3.2
153628  None  None  None  2.281795       3.0
153629  None  None  None  2.281795       3.3
153632  None  None  None  2.281795       2.4
153633  None  None  None  2.281795       0.3
153634  None  None  None  2.281795       1.5
153635  None  None  None  2.281795       1.8
153636  None  None  None  2.281795       0.9
153637  None  None  None  2.281795       5.0
153638  None  None  None  2.281795       4.3
153639  None  None  None  2.281795       1.5
153640  None  None  None  2.281795       0.0
153641  None  None  None  2.281795       0.5
153642  None  None  None  2.281795       2.1
153644  None  None  None  2.281795       4.6
153645  None  None  None  2.281795       0.5
153646  None  None  None  2.281795       2.6
153656  None  None  None  2.281795       6.3
153666  None  None  None  2.281795       5.7
153671  None  None  None  2.281795       2.0
153685  None  None  None  2.281795       6.2
153691  None  None  None  2.281795       3.2
153692  None  None  None  2.281795       1.7
153693  None  None  None  2.281795       0.7
153694  None  None  None  2.281795       3.8
153695  None  None  None  2.281795       1.0

[29380 rows x 5 columns]

## Visualization (15 Minutes)

As best you can, recreate this bar chart created in Google Sheets using Python.  You may use Matplotlib, Seaborn, or any other graphing library you came across.
<img src="chart.jpg" alt="chart to recreate" width="500"/>

In [ ]:
d = {0:{'A': 54, 'B': 23, 'C': 99, 'D': 37, 'E': 3}}

df = pd.DataFrame.from_dict(d)


import matplotlib.pyplot as plt


x = ['A', 'B', 'C', 'D', 'E']

y = [54, 23, 99, 37, 3]

plt.barh(x,y, color = 'red')

plt.title('Count By Category')
plt.ylabel('Category')
plt.xlabel('Count')
ax = plt.gca()
ax.invert_yaxis()
ax.xaxis.grid(True)

In [ ]:
df

## Github (5 Minutes)

Follow the instructions at https://github.com/enkeboll/fis-dc-ds-060319-gifs, and make sure to check your email to confirm your collaborator status!

# Assessment submission (2 Minutes)
Please save this file as `firstname.ipynb` and upload it using [this form](https://docs.google.com/forms/d/e/1FAIpQLSdlnMgc5Nb5uFTmw7DiScapevg-VA8DQdiFeIAil5sZqYZbFA/viewform)